### **Mounting**

In [1]:
import os                                     
import google.colab                                                             
import sys

# mounting Google Drive in the runtime's virtual machine

if not os.path.isdir('/content/drive'):

    google.colab.drive.mount('/content/drive')

ModuleNotFoundError: No module named 'google'

In [43]:
os.chdir('/content/drive/MyDrive/Research 2021/Air Pollution')

In [44]:
!ls

Case_Data_Preprocessingipynb.ipynb  Data

In [1]:
import pandas as pd

### **Reading The File**

In [46]:
df = pd.read_csv('Data/case_data.csv')
df

             Date      LOCATION Air Quality Index (AQI) AQI CATEGORY AQI RANGE
0      05-08-2020        DHAKAc                      25         GOOD       NaN
1      05-08-2020      GAZIPURc                     DNA          DNA       NaN
2      05-08-2020  NARAYANGANJc                      22         GOOD       NaN
3      05-08-2020   CHITTAGONGc                     DNA          DNA       NaN
4      05-08-2020       SYLHETc                      40         GOOD       NaN
...           ...           ...                     ...          ...       ...
26246  06-06-2022        SavarC                      54     MODERATE       NaN
26247  06-06-2022   MymensinghC                     119      CAUTION       NaN
26248  06-06-2022      Rangpurc                      30         GOOD       NaN
26249  06-06-2022      Cumillac                      74     MODERATE       NaN
26250  06-06-2022    Narsingdic                      64     MODERATE       NaN

[26251 rows x 5 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26251 entries, 0 to 26250
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Date                     26238 non-null  object
 1   LOCATION                 26202 non-null  object
 2   Air Quality Index (AQI)  25610 non-null  object
 3   AQI CATEGORY             26188 non-null  object
 4   AQI RANGE                4216 non-null   object
dtypes: object(5)
memory usage: 1.0+ MB

### **Dropping AQI Range Column**
We are dropping the AQI Range column because this column is irrelevant and it also has missing values

In [ ]:
df = df.drop(['AQI RANGE'], axis = 1)
df

             Date      LOCATION Air Quality Index (AQI) AQI CATEGORY
0      05-08-2020        DHAKAc                      25         GOOD
1      05-08-2020      GAZIPURc                     DNA          DNA
2      05-08-2020  NARAYANGANJc                      22         GOOD
3      05-08-2020   CHITTAGONGc                     DNA          DNA
4      05-08-2020       SYLHETc                      40         GOOD
...           ...           ...                     ...          ...
26246  06-06-2022        SavarC                      54     MODERATE
26247  06-06-2022   MymensinghC                     119      CAUTION
26248  06-06-2022      Rangpurc                      30         GOOD
26249  06-06-2022      Cumillac                      74     MODERATE
26250  06-06-2022    Narsingdic                      64     MODERATE

[26251 rows x 4 columns]

### **Checking for NaN values**

In [ ]:
#df = df.dropna(subset=['Date'], how='all')
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
df.isnull().sum()

Date                        13
LOCATION                    49
Air Quality Index (AQI)    641
AQI CATEGORY                63
dtype: int64

We see there are 13 NaN values in Date column and 49 missing values in Location column, we will need to drop those columns in order to sort the data correctly

In [ ]:
#Checking for NaN values in Date
df['Date'].isnull().sum()

13

Dropping the NaN Dates

In [ ]:
df = df.dropna(subset=['Date'])
print(df)

             Date      LOCATION Air Quality Index (AQI) AQI CATEGORY
0      05-08-2020        DHAKAc                      25         GOOD
1      05-08-2020      GAZIPURc                     DNA          DNA
2      05-08-2020  NARAYANGANJc                      22         GOOD
3      05-08-2020   CHITTAGONGc                     DNA          DNA
4      05-08-2020       SYLHETc                      40         GOOD
...           ...           ...                     ...          ...
26246  06-06-2022        SavarC                      54     MODERATE
26247  06-06-2022   MymensinghC                     119      CAUTION
26248  06-06-2022      Rangpurc                      30         GOOD
26249  06-06-2022      Cumillac                      74     MODERATE
26250  06-06-2022    Narsingdic                      64     MODERATE

[26238 rows x 4 columns]

In [ ]:
df.isnull().sum()

Date                         0
LOCATION                    36
Air Quality Index (AQI)    628
AQI CATEGORY                50
dtype: int64

Date has no more NaN values, we need to drop the Location NaN values as well

In [ ]:
df = df.dropna(subset=['LOCATION'])
print(df)

             Date      LOCATION Air Quality Index (AQI) AQI CATEGORY
0      05-08-2020        DHAKAc                      25         GOOD
1      05-08-2020      GAZIPURc                     DNA          DNA
2      05-08-2020  NARAYANGANJc                      22         GOOD
3      05-08-2020   CHITTAGONGc                     DNA          DNA
4      05-08-2020       SYLHETc                      40         GOOD
...           ...           ...                     ...          ...
26246  06-06-2022        SavarC                      54     MODERATE
26247  06-06-2022   MymensinghC                     119      CAUTION
26248  06-06-2022      Rangpurc                      30         GOOD
26249  06-06-2022      Cumillac                      74     MODERATE
26250  06-06-2022    Narsingdic                      64     MODERATE

[26202 rows x 4 columns]

In [ ]:
df.isnull().sum()

Date                         0
LOCATION                     0
Air Quality Index (AQI)    592
AQI CATEGORY                14
dtype: int64

We have to convert the location values to lower case

In [ ]:
df['LOCATION'] = df.LOCATION.apply(lambda x: str(x).lower())

In [ ]:
df.LOCATION.value_counts()

narayanganjc    2751
khulnac         2751
rajshahic       2751
gazipurc        2750
sylhetc         2645
barisalc        2071
chittagongc     1433
chittagongb     1317
dhakaa          1132
dhakab           895
cumillac         846
savarc           846
mymensinghc      846
rangpurc         846
narsingdic       801
dhakac           724
barishalc        680
sylhetcc          92
sylhetc2          14
narsingdi          9
gongb              1
114azipurc         1
Name: LOCATION, dtype: int64

We have to remove the C tag from the location names

In [ ]:
df['LOCATION'] = df['LOCATION'].apply(lambda x: str(x)[:-1])

In [ ]:
df['LOCATION'].value_counts()

dhaka          2751
narayanganj    2751
khulna         2751
rajshahi       2751
chittagong     2750
gazipur        2750
sylhet         2645
barisal        2071
rangpur         846
cumilla         846
mymensingh      846
savar           846
narsingdi       801
barishal        680
sylhetc         106
narsingd          9
gong              1
114azipur         1
Name: LOCATION, dtype: int64

There are some typos in the location names, lets fix this

In [ ]:
df['LOCATION'] = df['LOCATION'].replace({'barisal': 'barishal', 
                        'narsingd': 'narsingdi', 
                        'sylhetc': 'sylhet', 
                        '114azipur': 'gazipur', 
                        'gong': 'chittagong'})
df['LOCATION']

0              dhaka
1            gazipur
2        narayanganj
3         chittagong
4             sylhet
            ...
26246          savar
26247     mymensingh
26248        rangpur
26249        cumilla
26250      narsingdi
Name: LOCATION, Length: 26202, dtype: object

Modifying the column names

In [ ]:
df = df.rename(columns={'LOCATION': 'Location', 'AQI CATEGORY': 'AQI Catagory' })
df

             Date     Location Air Quality Index (AQI) AQI Catagory
0      05-08-2020        dhaka                      25         GOOD
1      05-08-2020      gazipur                     DNA          DNA
2      05-08-2020  narayanganj                      22         GOOD
3      05-08-2020   chittagong                     DNA          DNA
4      05-08-2020       sylhet                      40         GOOD
...           ...          ...                     ...          ...
26246  06-06-2022        savar                      54     MODERATE
26247  06-06-2022   mymensingh                     119      CAUTION
26248  06-06-2022      rangpur                      30         GOOD
26249  06-06-2022      cumilla                      74     MODERATE
26250  06-06-2022    narsingdi                      64     MODERATE

[26202 rows x 4 columns]

### **Converting To Pandas Datetime Object**

In [ ]:
df['Date'] = pd.to_datetime(df['Date'],format='%d-%m-%Y')
df['Date']

0       2020-08-05
1       2020-08-05
2       2020-08-05
3       2020-08-05
4       2020-08-05
           ...
26246   2022-06-06
26247   2022-06-06
26248   2022-06-06
26249   2022-06-06
26250   2022-06-06
Name: Date, Length: 26202, dtype: datetime64[ns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26202 entries, 0 to 26250
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Date                     26202 non-null  datetime64[ns]
 1   Location                 26202 non-null  object
 2   Air Quality Index (AQI)  25610 non-null  object
 3   AQI Catagory             26188 non-null  object
dtypes: datetime64[ns](1), object(3)
memory usage: 1023.5+ KB

Thus our Date column has been converted into Datetime object

### **Sorting**

In [ ]:
df1 = df

In [ ]:

df1.sort_values(by = 'Date', ascending = True, inplace = True)
display(df1.head())

          Date     Location Air Quality Index (AQI) AQI Catagory
189 2014-02-17     barishal                     118      CAUTION
182 2014-02-17        dhaka                     172    UNHEALTHY
183 2014-02-17   chittagong                     125      CAUTION
184 2014-02-17      gazipur                     178    UNHEALTHY
185 2014-02-17  narayanganj                     174    UNHEALTHY

In [ ]:
df1.tail(10)

            Date     Location Air Quality Index (AQI) AQI Catagory
26215 2022-06-08  narayanganj                     107      CAUTION
26216 2022-06-08       sylhet                     DNA          DNA
26219 2022-06-08     barishal                      74     MODERATE
26218 2022-06-08     rajshahi                     141      CAUTION
26220 2022-06-08        savar                     120      CAUTION
26221 2022-06-08   mymensingh                     106      CAUTION
26222 2022-06-08      rangpur                     119      CAUTION
26223 2022-06-08      cumilla                      98     MODERATE
26217 2022-06-08       khulna                      99     MODERATE
26224 2022-06-08    narsingdi                      79     MODERATE

Saving the Sorted dataframe in a csv file

In [ ]:
#df1.to_csv(r'sorted.csv', index=False)

### **Data Cleaning**

In [2]:
df1 = pd.read_csv('Data/sorted.csv')
df1

             Date     Location Air Quality Index (AQI) AQI Catagory
0      2014-02-17     barishal                     118      CAUTION
1      2014-02-17        dhaka                     172    UNHEALTHY
2      2014-02-17   chittagong                     125      CAUTION
3      2014-02-17      gazipur                     178    UNHEALTHY
4      2014-02-17  narayanganj                     174    UNHEALTHY
...           ...          ...                     ...          ...
26197  2022-06-08   mymensingh                     106      CAUTION
26198  2022-06-08      rangpur                     119      CAUTION
26199  2022-06-08      cumilla                      98     MODERATE
26200  2022-06-08       khulna                      99     MODERATE
26201  2022-06-08    narsingdi                      79     MODERATE

[26202 rows x 4 columns]

In [7]:
before_covid = df1[df1['Date'].between('2014-02-17' , '2020-03-08')]
before_covid

             Date     Location Air Quality Index (AQI)    AQI Catagory
0      2014-02-17     barishal                     118         CAUTION
1      2014-02-17        dhaka                     172       UNHEALTHY
2      2014-02-17   chittagong                     125         CAUTION
3      2014-02-17      gazipur                     178       UNHEALTHY
4      2014-02-17  narayanganj                     174       UNHEALTHY
...           ...          ...                     ...             ...
18644  2020-03-08       sylhet                     DNA             DNA
18645  2020-03-08       khulna                     119         CAUTION
18646  2020-03-08   mymensingh                     212  VERY UNHEALTHY
18647  2020-03-08  narayanganj                     241  VERY UNHEALTHY
18648  2020-03-08     rajshahi                     128         CAUTION

[18649 rows x 4 columns]

In [8]:
during_lockdown = df1[df1['Date'].between('2020-03-09' , '2021-08-08')]
during_lockdown

             Date     Location Air Quality Index (AQI)    AQI Catagory
18649  2020-03-09        savar                     DNA             DNA
18650  2020-03-09    narsingdi                     DNA             DNA
18651  2020-03-09      cumilla                     178       UNHEALTHY
18652  2020-03-09      rangpur                     266  VERY UNHEALTHY
18653  2020-03-09   mymensingh                     253  VERY UNHEALTHY
...           ...          ...                     ...             ...
24039  2021-06-05     rajshahi                      82        MODERATE
24040  2021-06-05  narayanganj                     148         CAUTION
24041  2021-06-05        dhaka                     144         CAUTION
24042  2021-06-05       sylhet                      68        MODERATE
24043  2021-06-05   chittagong                      46            GOOD

[5395 rows x 4 columns]